@model WikiGames.Models.ViewModel.DesarrolladoresViewModel.DesarrolladorEditViewModel
@{
    ViewData["Title"] = "Edit Desarrolladora";
}


<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<h3>Crear Desarrollador</h3>
		</div>
		
	</div>

	<div class="row">
		<div class="col-sm-10">
			<form method="post" asp-action="Edit" enctype = "multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="DesarrolladorId"/>
				<div class="form-group">
					<label asp-for="DesarrolladorName" class="control-label"></label>
					<input asp-for="DesarrolladorName" class="form-control" />
					<span asp-validation-for="DesarrolladorName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Creacion" class="control-label"></label>
					<input asp-for="Creacion" type="date" class="form-control" />
					<span asp-validation-for="Creacion" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Cierre" class="control-label"></label>
					<input asp-for="Cierre" type="date" class="form-control" />
					<span asp-validation-for="Cierre" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Descripcion" class="control-label"></label>
					<textarea rows="8" asp-for="Descripcion" class="form-control"></textarea>
					<span asp-validation-for="Descripcion" class="text-danger"></span>
				</div>
				 <div class="col-md-6">
							<img  class="imgLogo" src="@Model.ImgDesarrolladores.ImagePath" />
							<input type="hidden" asp-for="@Model.ImgDesarrolladores.ImgDesarrolladoresId"/>
                            <input type="file" name="imgDesarrollador" class="form-control" multiple />
                        </div>
				<div class="form-group">
					<input type="submit" value="Crear Desarrollador" class="btn btn-primary" />
					<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>
@*Validacion lado cliente*@
	@section Scripts{

			@{ <partial name="_ValidationScriptsPartial" />
		}
}
