html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-select {
    width: 200px !important;
}

.divCardConsolas {

 width: 90%;

}

.imgConsolaCard {
    padding: 5px;
    width: auto;
    height: auto;
}

.cardConsola {
   height: 400px!important;
}