@model WikiGames.Models.DTO.Juego.JuegoCreacionDTO

@{
    ViewData["Title"] = "Cargar Nuevo Juego";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<h3>Crear Juego</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-10">
			@*<form method="post" asp-action="Create">*@
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="JuegoName" class="control-label"></label>
					<input asp-for="JuegoName" class="form-control" id="juegoName"/>
					<span asp-validation-for="JuegoName" class="text-danger" ></span>
				</div>
				<div class="form-group">
					<label asp-for="FechaLanzamientoOficial" class="control-label"></label>
					<input asp-for="FechaLanzamientoOficial" type="date" class="form-control" id="fechaOficial"/>
					<span asp-validation-for="FechaLanzamientoOficial" class="text-danger" ></span>
				</div>
				<div class="form-group">
					<label class="control-label">Generos</label>
					<select name="GeneroId" class="form-select" asp-items="ViewBag.Generos" id="generos"></select>
				</div>
				<div class="generosSeleccionados" id="generosSeleccionados">

				</div>

				<div class="form-group">
					<label asp-for="Descripcion" class="control-label"></label>
					<input asp-for="Descripcion" class="form-control" id="descripcion"/>
					<span asp-validation-for="Descripcion" class="text-danger"  ></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Crear Juego" id="crearJuego"class="btn btn-primary" />
				</div>
			@*</form>*@
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div col="sm-3">
				<p>Consola</p>
				<select name="ConsolaId" class="form-select" id="consolaName"asp-items="ViewBag.Consolas"></select>
			</div>
			<div col="sm-3">
				<p>Fecha de Lanzamiento</p>
				<input type="date" class="form-control" id="fechaLanzamiento"/>
			</div>
			<div col="sm-3">
				<p>Ventas</p>
				<input type="number" class="form-control" id="ventas"/>
			</div>
			<div col="sm-3">
				<button class="btn-primary btnAgregar" id="btnAgregar">Agregar</button>
			</div>
		</div>
	</div>
	<table class="table table-striped" id="tableConsolas">
		<thead>
			<tr>
				<th scope="col">Consola</th>
				<th scope="col">Id Consola</th>
				<th scope="col">Fecha Lanzamiento</th>
				<th scope="col">Copias Vendidas Hasta La fecha</th>
			</tr>
		</thead>
		<tbody class="tBody" id="tBody">
		</tbody>
	</table>

	
</div>
@*Validacion lado cliente*@
	@section Scripts{

			@{ <partial name="_ValidationScriptsPartial" />
		}
}
