@model IEnumerable<WikiGames.Models.ViewModel.MarcaViewModel>

@{
	ViewData["Title"] = "Lista de Marcas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	@if (TempData["mensaje"] != null)
	{ 
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			@TempData["mensaje"]
			<button type="button" class="close" data-dismiss="alert" arial-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	}
	<div class="row">
		<div class="col-sm-6">
			<h3>Lista de Generos</h3>
		</div>
		<div class="col-sm-6">
			<a class="btn btn-success d-block" asp-action="Create" asp-controller="Marca">Agregar nueva Marca</a>
		</div>
	</div>

	<div class="row">
		@if (Model.Count() > 0)
		{
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>Nombre</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.MarcaName</td>
							<td>
								<a asp-controller="Marca" asp-action="Edit" asp-route-id="@item.MarcaId" class="btn btn-secondary">Edit</a>
								<a asp-controller="Marca" asp-action="Delete" asp-route-id="@item.MarcaId" class="btn btn-warning">Delete</a>

							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>No hay registros</p>
		}
	</div>
</div>
